
*.class

bin/AndroidManifest.xml

bin/dexedLibs/samsung_ble_sdk_200-a051b741525c12fe36fb991f11a45b1a.jar

bin/BLEFinder.apk

bin/classes.dex

bin/dexedLibs/android-support-v4-3ea107ae145aafa5207578a5c5cd416c.jar

bin/jarlist.cache

bin/res/drawable-hdpi/ic_launcher.png

bin/res/drawable-mdpi/ic_launcher.png

bin/res/drawable-xhdpi/ic_launcher.png

bin/res/drawable-xxhdpi/ic_launcher.png

bin/resources.ap_

gen/com/smartinhaler/blefinder/BuildConfig.java

gen/com/smartinhaler/blefinder/R.java
